@model IEnumerable<ShipsInSpace.Web.Models.Pirates.PirateModel>

@{
    ViewBag.Title = "Users";
}

<h1>Users</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LicensePlate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PilotLicense)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var pirateModel in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => pirateModel.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(model => pirateModel.PilotLicense)
            </td>
        </tr>
    }
    </tbody>
</table>