@model HullEngineViewModel

@{
    ViewBag.Title = "Step 1";
}

<h1>@ViewBag.Title</h1>

<form asp-action="HullEngine">
    @Html.ValidationSummary()
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.HullId" class="control-label"></label>
                <select class="form-control" asp-for="Input.HullId" asp-items="@(new SelectList(Model.Hulls, "Id", "Name"))"></select>
                <span asp-validation-for="Input.HullId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.EngineId" class="control-label"></label>
                <select class="form-control" asp-for="Input.EngineId" asp-items="@(new SelectList(Model.Engines, "Id", "Name"))"></select>
                <span asp-validation-for="Input.EngineId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Input.WingCount" class="control-label"></label>
                <input asp-for="Input.WingCount" class="form-control">
                <span asp-validation-for="Input.WingCount" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <input type="submit" value="Go to step 2" class="btn btn-primary">
        </div>
    </div>


</form>