@model WingsViewModel

@{
    ViewBag.Title = "Step 2";
}

<h1>@ViewBag.Title</h1>

<form asp-action="Wings">
    @Html.ValidationSummary()
    <input type="hidden" asp-for="Input.WingCount">
    <input type="hidden" asp-for="Input.HullId">
    <input type="hidden" asp-for="Input.EngineId">

    @for (var i = 0; i < Model.Input.WingCount; i++)
    {
        <div class="row pb-3">
            <div class="col-md-6">
                <label asp-for="Input.Wings[i].WingId" class="control-label"></label>
                <select asp-for="Input.Wings[i].WingId" class="form-control"  asp-items="@(new SelectList(Model.Wings, "Id", "Name"))"></select>
                <span asp-validation-for="Input.Wings[i].WingId" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Input.Wings[i].Weapons" class="control-label"></label>
                <select class="form-control" multiple asp-for="Input.Wings[i].Weapons" asp-items="@(new SelectList(Model.Weapons, "Id", "Name"))"></select>
                <span asp-validation-for="Input.Wings[i].Weapons" class="text-danger"></span>
            </div>
        </div>
    }

    <input type="submit" value="Go to step 3" class="btn btn-primary" >
</form>